streamlit
numpy
pandas
plotly
sentence-transformers
transformers
torch
torchaudio
cryptography
scikit-learn

# Extra index for PyTorch (MUST be on its own line)
--extra-index-url https://download.pytorch.org/whl/cpu
